* {
    --green: #024f1a; 
}

img {
    width: 200px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: var(--green);
    position: relative;
    width: 300px;
    height: 450px;
    padding-right: 10rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    position: relative;
    z-index: 0;
    width: 80%;
    height: 100%;
    /* object-fit: cover; */
}

.container-text {
    position: absolute;
    z-index: 999;
    top: -90px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-left: 50em;
    /* background-color: rgba(0,0,0,0.6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.container-text h1 {
    color:white;
    /* padding-left: 7rem; */
    padding-top: 1rem;
    padding-left: 3rem;
    font-weight: bold;
    font-size: 38px;
    width: fit-content;
}

.container h2 {
    color: white;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    padding-left: 7rem;
}

.container h2::before {
    content: '';
    position: absolute;
    top: -40%;
    left: 70%;
    transform: translate(-50%);
    width: 40%;
    height: 2px;
    background-color: #222;
    margin-bottom: 2rem;
}

.container h2::after {
    content: '';
    position: absolute;
    bottom: -90%;
    left: 70%;
    transform: translate(-50%);
    width: 40%;
    height: 2px;
    background-color: #222;
    margin-bottom: 2rem;
}

.santa-claus {
    /* margin-top: 60%; */

    width: 100%;
    background-color: #B0BDB5;
    font-weight: bold;
    font-size: 16px;
}
